@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
/* barra de navegacao */
.imagem_logo{
    width: 60px;
    height: 60px;
    margin: 20px;
}

header {
    background-color: #000000;
    box-shadow: 0px 0px 2px #ae76f8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #efe0ff;
}

.nav-link {
    text-decoration: none;
 
    color: #f5ecff;
    margin: 0;
    
}
.nav-item {
    display: flex;
    margin: 0 200px 0 0;
    justify-content:space-between;
    align-items: center;
}
/* apresentacao */

img {
    display: flex;
    margin: 0 0 0 100px;
    height: 350px;
    width: 350px;
}

.texto{
    color: #caa1ff;
}

.apresentacao {
    display: flex;
    margin:5% 8%;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    width: 615px;
    flex-direction: column;
  
}

.apresentacao__conteudo__titulo{
    text-align: justify;
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    text-align: justify;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__links{
    display: flex;
    margin: 0;
}

.imagem_links{
    width: 40px;
    height: 40px;
    margin: 8px;
}
.apresentacao__conteudo__titulo_eu{
    font-family: 'Krona One', sans-serif;
    justify-content: space-between;
    align-items: center;

}
.apresentacao__conteudo__texto_eu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao_projetos{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.imagem_projeto{
    display: flex;
    width:300px;
    height: 150px;
    margin: 0;
    border-radius: 8px;
    border: 4px solid #caa1ff;
}
.apresentacao_conteudo_certificado ul li{
    display: flex;
    list-style-type: none; 
}

ul li a {
    text-decoration: none; 
    color: inherit; 
    font-weight: normal; 
}
/* CONTATO */
.contato-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;

}
.contato-form label {
    margin: 20px;
    font-weight: bold;
}

.contato-form input {
    margin:0px;
    padding: 10px;
    margin-bottom: 16px;

}

.contato-form button:hover {
    background-color:#6e30d3;
    
}
.text-mensagem{
    display: flex;
    width: 250px;
    height: 80px;
}

button {
    display: flex;
    margin:10px;
    padding: 10px;
    background-color:rgb(187, 85, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cor{
    background-color: #f6f6f600;
    border-radius: 8px;
    border: 1px solid #caa1ff;
}

/* mobile */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.text {
    margin-top: 0;
    font-size: 40px;
    margin: 20px;
   
}
.title {
    color:  rgb(218, 195, 255);
    margin-bottom: 5%;
}

footer{
    display: flex;
    height:50px;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
	color: #fff;
    background-color:#200046ef;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        justify-content: start;
        margin: 0;

    }

    .nav-list{
        display: none;
    }

    .icon{
        width: 25px
    }
    .titulo-menu-mobile{
        font-size: 18px;
        font-family: 'Baskerville', 'serif';
        color: rgb(233, 220, 255);
    }
    .botao-menu-mobile {
        display: flex;
        align-items: center;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;

    }

    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
      
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}